<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Edit</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link rel="stylesheet" href="/html/static/style.css">
    </head>
    <body>
        <div class="center">
            <h1> Edit profile </h1>
            <form method="POST" class="form">
                <label>Email:</label><br/>
                {{ if .user.GoogleAuth }}
                <input disabled="true" class="input" type="text" name="email" id="email" value="{{.user.Email}}"><br/> 
                {{ else }}
                <input class="input" type="text" name="email" id="email" value="{{.user.Email}}"><br/>
                {{ end }}
                <label>Full name:</label><br/>
                <input class="input" type="text" name="fullName" id="fullName" value="{{.user.FullName}}"><br/>
                <label>Address:</label><br/>
                <input class="input" type="text" name="address" id="address" value="{{.user.Address}}"><br/>
                <label>Telephone:</label><br/>
                <input class="input" type="text" name="telephone" id="telephone" value="{{.user.Telephone}}"><br/>
                <div class="error-message">{{ if .error }} {{.message}} {{ end }} </div>
                <div class="form-footer">
                    <input type="submit" value="Save & Continue"/>
                    <a href="/home"><button type="button">Cancel</button></a>
                </div>
            </form>
        </div>
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>