<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Home</title>
        <script type="text/javascript"> 
            function preventBack() { 
                window.history.forward();  
            } 
              
            setTimeout("preventBack()", 0); 
              
            window.onunload = function () { null }; 
        </script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link rel="stylesheet" href="/html/static/style.css">
    </head>
    <body>
        <div class="center">
            <h1> User profile </h1>
            <div class="info-container">
                <table class="table">
                    <tr>
                        <td>Email:</td>
                        <td class="info-value">{{.Email}}</td>
                    </tr>
                    <tr>
                        <td>Full name:</td>
                        <td class="info-value">{{.FullName}}</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td class="info-value">{{.Address}}</td>
                    </tr>
                    <tr>
                        <td>Telephone:</td>
                        <td class="info-value">{{.Telephone}}</td>
                    </tr>
                </table>
            </div>
            <div class="additional-actions">
                <a href="/edit"><button style="width: 60px;">Edit</button></a> <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</html>